@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

:root {
    --bg-dark: #1d2623;
    --gray-color: #62736e;
    --bg-main: #f2d852;
    --primary-color: #a65526;
    --secondary-color: #f2a649;
    --box-shadow: 0 0 5px black;
    --gradient: conic-gradient(at top, var(--bg-main), var(--primary-color));
}

/* ? Estilos Generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;

    background-image: url("../assets/img/bg-valoria.jpg");
    background-attachment: fixed;
    background-size: cover;
}

main {
    margin-bottom: 70px;
}

/* ? Cabecera */

header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: var(--bg-dark);
    color: white;
    padding: 1em;
}

header img {
    width: 70px;
}

img {
    width: 40px;
}

header h2 {
    text-transform: uppercase;
}

/* ? Barra de navegación */
.nav {
    background: linear-gradient(to bottom,
            var(--bg-dark) 3%,
            var(--primary-color));
    box-shadow: 0 3px 5px #000;
    letter-spacing: 0.1em;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav ul {
    display: flex;
    flex-flow: row wrap;
    padding: 0.8em;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

.nav ul li a {
    color: black;
    background-color: var(--secondary-color);
    padding: 0.5em;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: var(--box-shadow);
    transition: all 0.8s;
}

.nav ul li:hover a {
    text-decoration: underline;
    background-color: var(--bg-dark);
    color: white;
    box-shadow: 0 0 15px #666 inset;
    transition: all 0.8s;
}

/* ? Sección Getting Started */
.gettingStarted {
    width: 80%;
    padding: 2em;
    margin: 10px auto;
    border-radius: 10px;
    background: var(--gradient);
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.1em;
    opacity: 0.8;
    box-shadow: var(--box-shadow);
}

.gettingStarted__welcome {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.gettingStarted__welcome p::before {
    content: "- ";
}

.gettingStarted__welcome__title {
    margin-bottom: 20px;
    padding: 0.5em;
    background-color: var(--bg-main);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

/* ? Sección Miscellaneous */

.miscellaneous {
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    background: var(--gradient);
    opacity: 0.8;
    box-shadow: var(--box-shadow);
}

.miscellaneous__title {
    text-align: center;
    margin: 5px 0;
    background-color: var(--bg-main);
    padding: 0.5em;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

/* ? Artículos */

.miscellaneous__container {
    width: 100%;
    padding: 0.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.miscellaneous__container article {
    padding: 0.5em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    transition: all 0.5s;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

.miscellaneous__container article:hover {
    transform: translate(0, -5px);
    transition: all 0.5s;
    box-shadow: 0 2px 10px black;
}

.miscellaneous__container caption {
    background: linear-gradient(to bottom, var(--primary-color), var(--bg-main));
}

.miscellaneous__container thead {
    background-color: var(--bg-main);
}

.miscellaneous__container tbody tr:nth-child(even) {
    background-color: var(--bg-main);
}

.miscellaneous__container table,
.miscellaneous__container td,
.miscellaneous__container th,
.miscellaneous__container tr {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.miscellaneous__container td,
.miscellaneous__container th {
    padding: 0.2em;
}

.miscellaneous .miscellaneous__container__spells {
    width: 30%;
}

.miscellaneous .miscellaneous__container__items {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    width: 33%;
    gap: 20px;
}

#rings {
    margin-bottom: 20px;
}

.miscellaneous .miscellaneous__container__bestiary {
    width: 33%;
}

.miscellaneous__container__spells__title,
.miscellaneous__container__items__title,
.miscellaneous__container__bestiary__title {
    text-align: center;
    margin: 5px 0;
    background-color: var(--secondary-color);
    padding: 0.5em;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

/* ? Galería */

.gallery {
    padding: 1em 0em;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2em;
    text-align: center;
    background: var(--gradient);
    border-radius: 10px;
    opacity: 0.8;
    box-shadow: var(--box-shadow);
}

.gallery__title {
    display: inline-block;
    padding: 0.5em;
    margin-bottom: 0.3em;
    background-color: var(--bg-main);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.gallery img {
    width: 100%;
    max-height: 65vh;
    vertical-align: middle;
}

.gallery__container {
    flex: 60%;
    margin: 0 auto;
}

.gallery__container__mySlides {
    display: none;
}

.gallery__container__mySlides img {
    border-radius: 10px 10px 0 0;
    box-shadow: var(--box-shadow);
}

.gallery__slideshow-container {
    display: flex;
    justify-content: space-evenly;
}

.gallery__slideshow-container__prev-container,
.gallery__slideshow-container__next-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 20%;
    cursor: pointer;
    font-weight: bolder;
    transition: 1s;
    background-color: var(--bg-main);
    border-radius: 3em 0 0 3em;
    box-shadow: var(--box-shadow);
}

.gallery .gallery__slideshow-container__next-container {
    border-radius: 0 3em 3em 0;
}

.gallery__slideshow-container__prev-container:hover,
.gallery__slideshow-container__next-container:hover {
    background-color: var(--primary-color);
    border-radius: 3em 0 0 3em;
    transform: translate(0, -15px);
    transition: 1s;
    box-shadow: 0 3px 10px black;
}

.gallery__slideshow-container__next-container:hover {
    border-radius: 0 3em 3em 0;
}

.gallery__slideshow-container__prev-container p,
.gallery__slideshow-container__next-container p {
    color: #000;
}

.gallery__slideshow-container__prev-container:hover p,
.gallery__slideshow-container__next-container:hover p {
    transition: 1s;
}

.gallery_container__mySlides__text {
    color: #000;
    font-size: large;
    padding: 0.8em 1.2em;
    text-align: center;
    bottom: 1em;
    background-color: var(--bg-main);
    border-radius: 0 0 10px 10px;
    box-shadow: var(--box-shadow);
}

.gallery__dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.gallery__dot:hover {
    background-color: var(--bg-main);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* ? Footer */
footer {
    width: 100%;
    height: 100px;
    padding: 0.5em;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    background: linear-gradient(to top,
            var(--bg-dark) 60%,
            var(--primary-color));
    z-index: 2;
    color: white;
    box-shadow: var(--box-shadow);
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

footer p {
    align-self: flex-start;
}

footer a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: white;
}

footer a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1em;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

footer a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.table-mobile {
    display: none;
    visibility: hidden;
}

.table-mobile .fila .columna {
    display: flex;
}

.table-mobile .fila .columna .header,
.table-mobile .fila .columna .contenido{
    border: 1px solid var(--bg-dark);
    border-bottom: none;
    padding: 0.5em;
}

.table-mobile .fila .columna .header {
    min-width: 45%;
    font-weight: bold;
}

.table-mobile .fila {
    transition: 1s;
}

.table-mobile .fila .columna .contenido {
    min-width: 55%;
    text-align: center;
    transition: 1s;
}

.table-mobile .fila .columna .contenido img {
    width: 20%;
}

.table-mobile .fila .columna .contenido a img {
    width: 45px;
}

.table-mobile .fila:nth-of-type(even) .columna .contenido {
    background-color: var(--secondary-color);
}

.table-mobile .fila:nth-of-type(odd) .columna .contenido {
    background-color: var(--bg-main);
}

.table-mobile .fila .columna:last-of-type .header,
.table-mobile .fila .columna:last-of-type .contenido {
    border-bottom: 1px solid black;
}

@media (max-width: 1300px) {

    .miscellaneous__container {
        flex-flow: column wrap;
    }

    .miscellaneous .miscellaneous__container__bestiary,
    .miscellaneous .miscellaneous__container__items,
    .miscellaneous .miscellaneous__container__spells {
        width: 100%;
    }

    .table-mobile {
        display: block;
        width: 100%;
        visibility: visible;
    }

    .table-desktop {
        display: none;
        visibility: hidden;
    }
}